.header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    border-bottom: 1px var(--border-color) solid;
    padding: 0 63.58px;
}

.name-page{
    padding-top: 52.54px;
}

.navbar-list {
    display: flex;
    list-style: none;
    font-size: 2.0rem;
    line-height: 3.4rem;
    font-weight: 500;
    margin: 0;
    padding-top: 59px;
}

.navbar-item {
    cursor: pointer;
    padding-bottom: 38px;
}

.navbar-item:hover {
    border-bottom: 2px var(--black-color) solid;
}

.content__banner {
    margin-top: 76px;
}

.content__banner img {
    width: 854px;
    height: 533px;
}

.content__intro {
    text-align: center;
    width: 858px;
    margin-top: 44px;
}

.content__intro-heading {
    font-size: 5.4rem;
    line-height: 5.4rem;
    font-weight: 700;
}

.content__intro-sub-heading {
    font-size: 2.0rem;
    line-height: 3.4rem;
    font-weight: 400;
    width: 592px;
    padding-top: 32px;
    margin-bottom: 34px;
}

.content__intro-border {
    width: 640px;
    height: 2px;
    background-color: var(--black-color);
}

.content__article-heading {
    font-size: 4.4rem;
    line-height: 5.251rem;
    font-weight: 700;
    text-align: center;
    padding: 64px 0 39px;
}

.content__article-img {
    width: 304px;
    height: 176px;
    object-fit: cover;
    cursor: pointer;
}

.content__article-desc {
    font-size: 2.2rem;
    line-height: 2.64rem;
    font-weight: 500;
    text-align: center;
    width: 262px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.content__article-img:hover,
.content__article-desc:hover {
    opacity: 0.7;
}

.footer {
    height: var(--footer-height);
    background-color: var(--black-color);
    color: var(--white-color);
    margin-top: 75px;
}

.footer__feature-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 2.0rem;
    line-height: 2.8rem;
    padding-top: 18px;
    text-align: center;
    margin: 0 -6px;
}

.footer__feature-item {
    text-transform: uppercase;
    white-space: nowrap;
}

.footer__feature-item:nth-child(2) {
    padding-left: 10px;
}

.footer__feature-item:nth-child(3) {
    padding-left: 19px;
}

.footer__feature-item:nth-child(4) {
    padding-left: 16px;
}

.footer__feature-item:nth-child(5),
.footer__feature-item:nth-child(6) {
    padding-left: 13px;
}

.footer__feature-item:nth-child(7) {
    padding-left: 18px;
    padding-right: 17px;
}

.footer__feature-item:nth-child(odd) {
    font-weight: 800;
}

.footer__feature-item:nth-child(even) {
    font-weight: 400;
}

.footer__name-page {
    padding-top: 105.12px;
    padding-bottom: 25.58px;
    text-align: center;
}

.footer__desc {
    font-size: 1.6rem;
    line-height: 2.24rem;
    font-weight: 300;
    text-align: center;
    width: 488px;
    padding-bottom: 32px;
}

.footer__contact-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer__contact-link {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.72px;
}

.footer__contact-item:nth-child(2) {
    padding: 0 29px 0 27px;
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 1.68rem;
    font-weight: 500;
    text-align: center;
    width: 178px;
    padding-top: 64px;
}

.menu-btn {
    display: none;
}